<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="audiow.user.feature.signin">

    <application>

        <activity
            android:name=".ui.signin.SignInActivity"
            android:theme="@style/user_feature_signin_SignIn" />

    </application>

</manifest>

